#aboutpp{
    margin-left: 14%;
    margin-right: 7%;
    margin-top: 2.5%;
    text-align: left;
}

.rajLoc{

margin-left: 50%;
}

.motto{
  
    text-align: center;
}

#motto{
    font-size: 180%;
    margin-left: 10%;
    margin-right: 10%;
    

}

.intels{
    text-align: left;
    margin-left: 2%;
    margin-top: 3%;
}

.adminResults{

    margin:2% auto;
}